@import "./variables.scss";

.menuCollapse {
    .sideBar {
        left: -200px;
        transition: .2s;
    }
    .pageWrapper {
        padding-left: 0!important;
        transition: .2s;
    }
}

.secondary-color {
    color: $secondary-color!important;
}
.alternate-color-900 {
    color: $alternate-color-900;
}
.m-0 {
    margin: 0!important;
}

.field {
    .ui.input {
        input {
            &:focus {
                border-color: $secondary-color !important;
            }
        }
    }
    textarea {
        &:focus {
            border-color: $secondary-color !important;
        }
    }
    .ui.selection.dropdown {
        &:focus {
            border-color: $secondary-color !important;
        }
        .menu {
            border-color: $secondary-color !important;
        }
    }
}
.commonTable {
    .ui.table {
        border:none;
        thead {
            tr {
                th {
                    background-color: $alternate-color-300;
                    color: $secondary-color;
                    border: none;
                }
            }
        }
    }
}
.commonToggle.field {
    .ui.toggle.checkbox {
        &.checked {
            label {
                &::before {
                    background-color: $secondary-color !important;
                }
            }
        }
    }
}

.btn-primary.ui.button {
    background-color: $primary-color;
    color: $default-color;
    border-radius: 7px;
    padding: 9px ​20p;
    font-size: 15px;
    border: 2px solid $primary-color;
    &:hover,&:focus {
        background-color: transparent;
        border-color: $default-color;
        color: $default-color;
    }
    i.icon {
        color: $secondary-color !important;
        opacity: 1;
    }
}
.btn-secondary.ui.button {
    background-color: $secondary-color;
    color: $contrast-color;
    border-radius: 7px;
    padding: 10px 25px;
    font-size: 15px;
    border: 2px solid $secondary-color;
    &:hover,&:focus {
        background-color: $contrast-color;
        color: $secondary-color;
        i.icon {
            color: $secondary-color !important;
        }
    }
    i.icon {
        color: $contrast-color !important;
        opacity: 1;
    }
}
p {
    margin: 0 !important;
}

.pageWrapper {
    padding: 93px 0 0 200px;
    background-color: $contrast-color;
    transition: .2s;
    .pageWrapperInner {
        padding: 15px;
        overflow: auto;
        height: calc(100vh - 93px);
        .contentWrapper {
            background-color: $alternate-color-100;
            padding: 15px;
            border-radius: 10px;
        }
    }
}
.rightAlign{
    text-align: right;
    margin-bottom: 5px;
}
.tabSection{
    .ui{
        &.text.menu{
            margin: 0;
            min-height: auto;
            a{
                font-size: 16px !important;
                margin-bottom: 0 !important;
                &.active{
                    border-bottom: 3px solid #2485b1;
                    border-radius: 0;
                    color: #2485b1;
                }
            }
        }
    }
    
}
.idCaption{
    margin: 10px 0 20px!important;
    span{
        font-weight: normal;
    }
}
.textField{
    margin : 15px 0;
    textarea {
        margin: 0;
        width: 100%;
        flex: 1 0 auto;
        outline: 0;
        -webkit-tap-highlight-color: rgba(255,255,255,0);
        text-align: left;
        line-height: 1.21428571em;
        font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
        padding: 0.67857143em 1em;
        background: #fff;
        border: 1px solid rgba(34,36,38,.15);
        color: rgba(0,0,0,.87);
        border-radius: 0.28571429rem;
        transition: box-shadow .1s ease,border-color .1s ease;
        box-shadow: none;
        resize: none;
        min-height: 80px;
    }
}
.subCaptionTitle {
    padding-top: 0 !important;
    p{
        color: #838181;
        letter-spacing: 0.5px;
        padding-top: 0;
    }    
}
.dragDropCol {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    border: 1px dashed #ccc;
    border-radius: 15px;
}
.dragDropCaption {
    text-align: center;
    color: #918f8f;
    margin: 15px 0 !important;
}
.roleDetails h5.ui.header {
    font-size: 1.3rem;
    border: none;
    margin: calc(2rem - 0.14286em) 0 1rem;
    padding: 0;
    font-family: Lato,"Helvetica Neue",Arial,Helvetica,sans-serif;
    font-weight: 700;
    line-height: 1.28571429em;
    text-transform: none;
    color: rgba(0,0,0,.87);
}
.checkAll label {
    font-size: 16px !important;
    font-weight: 600;
}
.reportCol {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}
.rightAlign{
    text-align: right;
}
.tempInvoiceDetail h4.ui.header {
    margin: 3px 0;
}
.removeM{
    margin: 0 !important;
}
.removeP{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
h3.ui.header.detailCaption{
    background-color: #2485b1;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
}
h3.ui.header.detailCaptions {
    background-color: #d9d8d8de;
    color: #000000;
    padding: 8px 15px;
    border-radius: 5px;
}
.six.wide.column.templateCardPayment {
    background-color: #fff;
    padding: 20px !important;
}
.ui.grid.templateList {
    padding-bottom: 20px;
}
tempList img.ui.image {
    width: 30px;
}
.tempInvoiceDetails{
    text-align: right;
}
.tempInvoiceDetails h4{
    margin: 5px 0 !important;
}
.tempList {
    background-color: #fff;
    padding: 12px 15px;
}
.tempList a.ui.header {
    font-size: 14px !important;
}
.subscriptionToggle {
    display: flex;
    align-items: center;
}
.modalDescription{
    flex: auto !important;
}
.subscriptionToggle span.planInactiveStatus {
    margin-right: 10px;
}
.subscriptionToggle span.planActiveStatus {
    margin-left: 10px;
}
